<nx-card class="flex flex-1 h-full w-full">
  <nx-card-header>
    <h3 nxHeadline="subsection-small" class="nx-margin-bottom-2m border-b-2">
      {{data?.name}}
    </h3>
  </nx-card-header>

  <div class="docs-inverse-container flex-1">
    <div class="flex flex-col justify-between items-stretch">
      <div class="flex justify-between">
        <span class="font-bold flex-1">Type:</span>
        <span class="text-right break-all">{{authDataToRender.type}}</span>
      </div>
      <div class="flex justify-between">
        <span class="font-bold">Used:</span>
        <span class="text-right  break-all">{{authDataToRender["count"]}}</span>
      </div>
      <div class="flex justify-between">
        <span class="font-bold">Created:</span>
        <span class="text-right  break-all">{{authDataToRender["createdOn"]}}</span>
      </div>
      <div class="flex justify-between">
        <span class="font-bold">Last used:</span>
        <span class="text-right break-all flex-1">{{authDataToRender["lastUsedOn"]}}</span>
      </div>
      <div class="flex justify-between">
        <span class="font-bold">Model:</span>
        <span class="text-right break-all flex-1">{{authDataToRender["model"]}}</span>
      </div>

    </div>

  </div>

  <div class="mt-2 w-full">
    <button nxButton="primary" class="deleteBtn" type="button" [disabled]="!deleteable" (click)="deletePasskey()">
      Delete
    </button>
  </div>

</nx-card>
