<div class="flex flex-col gap-4 justify-center items-center flex-1 h-[75vh]">
  <div>
    <h3 nxHeadline="subsection-large">
      FIDO2 Prototyp
    </h3>

    <span class="mt-2">
      Enter a username to {{isLoginMode ? "login" : "register" }}
    </span>

  </div>

  <div class="flex flex-col gap-4">

    <div *ngIf="false">
      <label for="name">Username:</label>
      <input type="text" name="name" autocomplete="username webauthn">
      <label for="password">Password:</label>
      <input type="password" name="password" autocomplete="current-password webauthn">
    </div>

    <form [formGroup]="formGroup" class="min-w-[400px]">


      <nx-formfield label="Username">
        <input nxInput type="text" formControlName="username" autocomplete="username webauthn"/>
        <nx-error nxFormfieldError>
          Your username is missing! At least 4 letters required.
        </nx-error>
      </nx-formfield>


      <div class="flex flex-col gap-3">
        <nx-error *ngIf="error.isError">
          {{!error.msg ? "An unexpected error occured" : error.msg}}
        </nx-error>
        <button nxButton="primary" type="button" (click)="initAuth()">
          <span>{{isLoginMode ? "Login" : "Register"}}</span>
        </button>
      </div>


      <div class="flex flex-box justify-end my-2 underline cursor-pointer authBtn">
        <span
          (click)="handleModeSwitch()">{{!isLoginMode ? "Login instead" : "Register instead"}}</span>
      </div>
    </form>

    <div class="border-t-2 border-blue-950"></div>

    <div class="" *ngIf="autoFillMode">
      <button nxButton="primary" type="button" (click)="usernamelessLogin()">
        <span>Continue with trusted device ot Security key</span>
      </button>
    </div>


  </div>
</div>
