<header nx-header>
  <nx-header-brand>

      <div class="flex flex-row justify-center items-center">
        <figure nxFigure>
          <img
            class="headerIcon"
            src="assets/fingerprintIcon.svg"
            alt="Brand Logo"
            role="none"
          />
        </figure>
        <span class="logo-text">FIDO2 Prototype</span>
      </div>

  </nx-header-brand>

  <nx-header-navigation>
    <nx-header-navigation-item>
      <a
        routerLink="./"
        [routerLinkActiveOptions]="{exact: true}"
        routerLinkActive="is-active"
        [skipLocationChange]="true"
        nxHeaderLink
      >Home</a
      >
    </nx-header-navigation-item>

  </nx-header-navigation>

  <nx-header-actions>
    <button nxButton="secondary small" type="button">Login</button>
  </nx-header-actions>
</header>
